{% extends 'e_patha/basic.html' %}
{% block map %}

 <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
 <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
 <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
 <link
   rel="stylesheet"        #mapbox api map
   href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
   type="text/css"
 />
 <style>
    body {
      margin: 0;
    }
 
   #map {
      height: 65vh;
      width: 100vw;
    }
   </style>
{% endblock %}
{% block title%}map{% endblock %}
{% block body %}
 
   <div id='map' width="100%" style='height:700px'></div>


<script>
  mapboxgl.accessToken = "pk.eyJ1IjoiY2hpbm1heWExMjM0NTYiLCJhIjoiY2t2ZjVxbDJ2MWJsNzJ3bzhpb2p4MWI2YyJ9.dsLEZG5gifX4bH1t2-3i2Q";
    
navigator.geolocation.getCurrentPosition(successLocation, errorLocation, {
  enableHighAccuracy: true
})

function successLocation(position) {
  setupMap([position.coords.longitude, position.coords.latitude])
}

function errorLocation() {
  setupMap([-2.24, 53.48])
}

function setupMap(center) {
  const map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11",
   //center:center,
    center: [74.9698943,13.0477992],
    zoom: 15
  })

  const nav = new mapboxgl.NavigationControl()
  map.addControl(nav)

  var directions = new MapboxDirections({
    accessToken: mapboxgl.accessToken
  })

  map.addControl(directions, "top-left")
}

   </script>

{% endblock %}